.animate {
  font-family: 'Cinzel', sans-serif;
  display: inline;
  opacity: 0;
  animation: changeColor 2s ease-in-out forwards 2s;
}
@keyframes changeColor {
  0% {
    color: white;
    opacity: 1;
    text-shadow: 4px 4px 4px black;
  }
  25% {
    color: orange;
    opacity: 0.75;
    text-shadow: 4px 4px 4x black;
  }
  50% {
    color: yellow;
    opacity: 0.5;
    text-shadow: 4px 4px 4px black;
  }
  75% {
    color: rgb(50, 205, 91);
    opacity: 0.25;
    text-shadow: 4px 4px 4px black;
  }
  95% {
    color: rgb(58, 154, 203);
    opacity: 1;
    text-shadow: 4px 4px 2px black;
  }
  100% {
    color: #3e63dd;
    opacity: 1;
    text-shadow: -4px 4px 4px black;
  }
}
